.about-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 350px;
    height: auto;
    margin: 0 auto;
  }
  
  .about-picture img {
    max-width: 100%;
    height: auto;
  }
  