.about-div {
    display: flex;
    flex-direction: column;
    background-color: #EEEEEE;
    flex-grow: 1;
  }
  
  .about-flex-container {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 30px;
    flex-grow: 1;
  }
  
  .about-left-section {
    padding-left: 50px;
    flex: 1;
    margin-right: 20px;
    width: 100%;
    max-width: 45%;
    text-align: left;
    font-family: 'Vollkorn', serif;
  }
  
  .about-right-section {
    flex: 1;
    width: 100%;
  }
  
  .about-left-section p {
    font-size: 16px;
    white-space: wrap;
    overflow: hidden;
    font-size: 18px;
    line-height: 1.5;
    color: #333333;
    text-align: justify;
    margin-bottom: 20px;
    animation: typing 3s steps(40, end);
  }
  
  .about-right-section img {
    max-width: 100%;
    max-height: 200px; /* Adjust the desired height */
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .about-flex-container {
      flex-direction: column;
      padding: 0px;
      margin: 0px;
    }
  
    .about-left-section {
      padding-left: 0;
      margin-right: 0;
      text-align: center;
    }
  
    .about-right-section {
      margin-top: 20px;
    }
  
    .about-right-section img {
      max-width: 70%;
      max-height: 150px; /* Adjust the desired height */
      flex: 1;
    }
  
    .about-left-section p {
      font-size: 14px; /* Adjust the desired font size */
    }
  }
  
  @media (max-width: 480px) {
    .about-left-section {
      max-width: 100%;
      text-align: center;
    }
  
    .about-left-section h1 {
      padding-top: 20px;
      font-size: 16px; /* Adjust the desired font size */
    }
  
    .about-left-section p {
      padding-top: 5px;
      font-size: 12px; /* Adjust the desired font size */
      padding-left: 7px;
      padding-right: 7px;
    }
  
    .about-right-section img {
      max-width: 50%;
      max-height: 100px; /* Adjust the desired height */
    }
  }
  
