.contact-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 5px;
    padding-bottom: 150px;
    background-color: #EEEEEE;
    color: black;
  }
  
  .contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
  }
  
  .map-container {
    max-width: 300px;
    width: 100%;
    height: 300px;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .contact-item {
    margin-bottom: 10px;
  }

  .contact-item h1, h2, h3 {
    margin-bottom: 10px;
  }
  
  /* Media Query for smaller screens */
@media (max-width: 768px) {
 
  .contact-item h1,
  .contact-item h2,
  .contact-item h3 {
    font-size: 8px;
    margin-bottom: 3px; /* Decrease the margin */
  }

  .contact-item p {
    font-size: 8px;
    margin-bottom: 2px;
  }

  .contact-item{
    margin-bottom: 2px;
  }

  .map-container {
    max-width: 150px;
    width: 100%;
    height: 150px;
    padding: 3px;
    margin-top: auto;
    margin-bottom: auto;
  }

}