.contact-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0;
    background-color: #EEEEEE;
    color: black;
  }
  
  .contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
  }
  
  .map-container {
    max-width: 300px;
    width: 100%;
    height: 300px;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .contact-item {
    margin-bottom: 10px;
  }

  .contact-item h1, h2, h3 {
    margin-bottom: 10px;
  }
  