    .home-div {
        display: flex;
        height:100vh;
        flex-direction: column;
        background-color:#EEEEEE;
        flex-grow: 1;
      }
      
      .home-flex-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 12%;
        flex-wrap: wrap;
      }
      
      .home-left-section {
        padding-left: 50px;
        flex: 1;
        margin-right: 20px;
        width: 100%;
        max-width: 35%;
        text-align: left;
        width:35%;
        font-family: 'Vollkorn', serif;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
      }

      .home-left-section h1{
        padding-top: 20px;
        font-size: 40px;
      }

      .home-left-section div{
        padding-top: 10px;
        font-size: 20px;
      }

      .home-right-section {
        flex: 1;
        width: 100%;
      }
      
      .home-techstack-section {
        margin-top: 15%;
        margin-bottom: 20px;
      }

      .home-left-section p {
        font-size: 16px;
        white-space: wrap;
        overflow: hidden;
        animation: typing 3s steps(40, end);
      }
      
      @keyframes typing {
        from {
          width: 0;
        }
        to {
          width: 100%;
        }
      }

      /* Responsive adjustments */
@media (max-width: 768px) {
  .home-left-section {
    max-width: 100%;
    padding-left: 0;
    margin-right: 0;
  }

  .home-right-section .profile-picture{
    width: 200px;
    height: 100%;
    
  }

}

@media (max-width: 480px) {
  .home-left-section {
    max-width: 100%;
    padding-left: 0;
    margin-right: 0;
    text-align: center;
  }

  .home-left-section h1 {
    padding-top: 20px;
    font-size: 11px;
  }

  .home-left-section p {
    padding-top: 5px;
    font-size: 10px;
    padding-left: 7px;
  }

}
      
      