.socialmedia-div {
    /* key to making flex-direction work */
    display: flex;
    /*key to making flex-direction work*/
    color: rgb(198, 240, 226);
    padding: 0;
    margin: 0;
    justify-content:space-between;
    flex-direction:row;
}

.github{
    margin: 0px;
    color:#171515;
}

.linkedin{
    margin: 0px;
    color:#0077b5;
}

.linkedin:hover{
    transform: scale(1.3);
}

.github:hover{
    transform:scale(1.3);
}