.section-padding{
    padding:4rem 4rem;
}

.footer-links-div .email-link p{
    font-size: 15px;
}

.footer{
    background-color: rgb(53, 57, 53);
}

.footer-section{
    display:flex;
    flex-direction: column;
}

.footer-links{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;
}

.footer-links-div{
    width: 150px;
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
}

a{
    color: rgb(175, 175, 179);
    text-decoration: none;
}

.socialmedia{
    display: flex;
    flex-direction: row;
}

.github{
    margin-right: 10px;
}

.linkedin{
    margin-right: 10px;
}

.footer-links h4{
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0.9rem;
}

.footer-links p{
    font-size: 15px;
    line-height: 15px;
    margin: 0.5rem 0;
    cursor: pointer;
}

.footer-below{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
}

hr{
    color: white;
    width: 100%;
}

.footer-copyright p{
    font-size: 15px;
    color:rgb(255,255,255);
    line-height: 15px;
    font-weight: 600;
}

@media screen and (max-width:850px) {
    .footer-heading h1{
        font-size: 44px;
        line-height: 50px;
    }

    .footer-links-div .email-link p{
        font-size: 11px;
    }
}

@media screen and (max-width:550){
    .footer-heading h1{
        font-size: 34px;
        line-height: 42px;
    }

    .footer-links-div .email-link p{
        font-size: 10px;
    }

    .footer-btn p{
        font-size: 14px;
        line-height: 20px;
    }

    .footer-below{
        flex-direction: column;
        justify-content: left;
    }
}

@media  screen and (max-width: 400px){
    .footer-heading h1{
        font-size: 27px;
        line-height: 38px;
    }

    .footer-links-div .email-link p{
        font-size: 9px;
    }
}